iv>
    <% case @student.active %>
        <% when true %>
            <p>This student is currently active.</p>
        <% when false %>
            <p>This student is currently inactive.</p>
    <% end %>